.mouse-sketch {
    max-width: 80%;
    height: 800px;
    position: relative;
}

.dot {
    will-change: transform, background-color;
    width: 50px;
    height: 50px;
    position: absolute;
    background-color: orange;
    border-radius: 50%;
    transform: scale(1);
    transition: transform .6s ease-in-out, background-color .3s ease-out;
}

.total-dots {
    font-family: sans-serif;
    font-size: 200px;
    display: flex;
    position: absolute;
    height: 100vh;
    width: 100%;
}

.dot.remove {
transform: scale(0);
background-color: orangered;
}