:root {
	--link-color: #4460ff;
	--link-hover-color: #aa6eff;
	--black: #1e1e1e;
	--dark: #323232;
	--darkgrey: #505050;
	--grey: #5f5f5f;
	--lightgrey: #ddd;
	--hairgrey: #eee;
	--white: #fafafa;
	--radius: .8rem;
	--border-default: #ccc .05em solid;
	--border-light: #eee .05em solid;
	--shadow-dark: 0em .5em 25px 0px #111;
	--shadow-light: none;
	--accent: var(--link-color);
	--transition-time: .15s;
	--infinity: 999999em
}

@font-face {
	font-family: "Golos Text VF";
	src: url('fonts/GolosTextVF.ttf');
}

html {
	font-size: 1.6vw;
	scroll-behavior: smooth
}

body,
html {
	margin: 0;
	padding: 0
}

* {
	box-sizing: border-box
}

::-moz-selection {
	background-color: color-mix(in srgb, var(--link-hover-color), transparent 70%)
}

::selection {
	background-color: color-mix(in srgb, var(--link-hover-color), transparent 70%)
}

body {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: antialiased;
	color: #1e1e1e;
	color: var(--black);
	font-family: "Golos Text VF";
	font-variation-settings: "wght" 300, "wdth" 100;
	line-height: 1.3
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: 400;
	margin: 0
}

h1 {
	font-size: 4rem;
	font-variation-settings: 'wght' 700;
	line-height: .85
}

h2 {
	font-size: 3rem;
	font-variation-settings: "wght" 500, "wdth" 97
}

h2,
h3 {
	line-height: 1
}

h3 {
	font-size: 2rem;
	font-variation-settings: "wght" 550, "wdth" 97
}

h4 {
	font-size: 1rem;
	font-variation-settings: "wght" 300, "wdth" 100;
	line-height: 1
}

h5 {
	font-size: 1rem;
	text-transform: uppercase
}

b,
strong {
	font-variation-settings: "wght" 700, "wdth" 97;
	font-weight: 400
}

em,
p {
	margin: .5em 0
}

em:first-child,
p:first-child {
	margin-top: 0
}

em:last-child,
p:last-child {
	margin-bottom: .2em
}

img {
	display: block;
	width: 100%
}

img.rounded {
	border-radius: .8rem;
	border-radius: var(--radius)
}

em {
	display: block;
	font-size: 1.8em;
	font-style: normal;
	line-height: 1
}

button,
input,
textarea {
	border: none;
	font-family: inherit;
	outline: 0
}

.a,
a {
	--color: currentColor;
	border-bottom: .05em solid color-mix(in srgb, var(--color), transparent 30%);
	color: currentColor;
	color: var(--color);
	-webkit-text-decoration: none;
	text-decoration: none;
	transition-duration: .15s;
	transition-duration: var(--transition-time);
	transition-property: color
}

.a:hover,
a:hover {
	transition: none
}

.a.colorful,
a.colorful {
	--color: var(--link-color);
	border: none
}

.a.implicit,
a.implicit {
	border: none
}

.a:hover,
a:hover {
	color: #aa6eff;
	color: var(--link-hover-color)
}

ol,
ul {
	display: flex;
	flex-direction: column;
	gap: .5em;
	margin: 0
}

ul {
	list-style-type: none;
	padding-left: .7em
}

ul.hang {
	padding-left: 0
}

ul li {
	position: relative
}

ul li:before {
	content: "·";
	left: -.7em;
	line-height: 0;
	position: absolute;
	top: .55em
}

ol {
	gap: .7em;
	padding-left: 1.1em
}

hr {
	border: 0;
	border-top: .05em solid #ddd;
	border-top: .05em solid var(--lightgrey);
	height: .05em;
	padding: 0;
	width: 100%
}

.big {
	font-size: 1.2em
}

.caption,
.small {
	font-size: .85em
}

.caption {
	color: #5f5f5f;
	color: var(--grey)
}

.accent {
	background: #505050;
	background: var(--darkgrey);
	font-variation-settings: "wght" 600;
	line-height: 1;
	padding: .08em 0 .15em
}

.w75 {
	width: 75%
}

.w50 {
	width: 50%
}

.w25 {
	width: 25%
}

.space-xs {
	height: .5em
}

.space-s {
	height: 1em
}

.space-m {
	height: 2em
}

.space-l {
	height: 3em
}

@media screen and (max-width:768px) {
	html {
		font-size: 18px
	}
}

@media screen and (max-width:450px) {
	html {
		font-size: 16px
	}
}

.page {
	gap: 1.5em
}

.page,
section {
	display: flex;
	flex-direction: column
}

section {
	gap: 1em;
	padding: 0 1.9%
}

section.nopadding {
	padding: 0
}

section.compensated {
	margin-left: -.3%
}

section.collapsed {
	margin-top: -.5em
}

.dark {
	background: #1e1e1e;
	background: var(--black);
	color: #fafafa;
	color: var(--white)
}

.grid {
	grid-gap: .3em;
	border-radius: .8rem;
	border-radius: var(--radius);
	display: grid;
	gap: .3em
}

.grid.two {
	grid-template-columns: repeat(2, 1fr)
}

.grid.three {
	grid-template-columns: repeat(3, 1fr)
}

.grid.border {
	border: .05em solid #ccc;
	border: var(--border-default)
}

.grid.collapsed {
	gap: 0;
	padding: 0
}

.grid.collapsed .grid-item {
	padding: 0
}

.grid.dark {
	background: #323232;
	background: var(--dark);
	color: #fafafa;
	color: var(--white)
}

.grid .grid-item {
	border-radius: .8rem;
	border-radius: var(--radius);
	overflow: hidden;
	padding: 1em 1.2em 2em;
	position: relative
}

body.dark .grid.dark {
	box-shadow: 0 .5em 25px 0 #111;
	box-shadow: var(--shadow-dark)
}

.video,
video {
	display: block;
	width: 100%
}

@media screen and (max-width:768px) {
	.page {
		gap: max(1.5em, 4vw)
	}

	.grid {
		padding-bottom: 1.5em
	}

	.grid .grid-item {
		margin-bottom: 1em;
		padding-bottom: 0
	}

	.grid.three,
	.grid.two {
		grid-template-columns: repeat(1, 1fr)
	}

	.w75 {
		width: 100%
	}
}

.teachers {
	color: #fff;
	margin-bottom: 1em;
	padding-bottom: 0
}

.teachers .teacher {
	aspect-ratio: 16/9;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	padding: 1em;
	position: relative
}

.teachers .teacher.grid-item {
	gap: 0;
	position: relative
}

.teachers .teacher:hover .video-background video {
	filter: grayscale(0) brightness(1.2);
	transform: scale(1.05)
}

.teachers .teacher .video-background {
	border-radius: .8rem;
	border-radius: var(--radius);
	height: 100%;
	left: 0;
	overflow: hidden;
	position: absolute;
	top: 0;
	width: 100%
}

.teachers .teacher .video-background video {
	filter: grayscale(1);
	transition: filter .3s, transform .3s
}

.teachers .teacher .name {
	font-size: 1.7em;
	font-variation-settings: "wght" 700;
	z-index: 1
}

.teachers .teacher .description {
	display: flex;
	flex-direction: column;
	font-variation-settings: "wght" 450;
	justify-content: flex-end;
	min-height: 2.7em;
	z-index: 1
}

@media screen and (max-width:768px) {
	.teachers {
		margin-bottom: 0
	}

	.teachers .teacher {
		font-size: .9em
	}
}

.lazy:not(.nopreloader):not(.loaded) {
	animation: shine 1.5s linear infinite;
	background: linear-gradient(90deg, #ececec 8%, #f5f5f5 18%, #ececec 33%);
	background-size: 200% 100%
}

@keyframes shine {
	to {
		background-position-x: -200%
	}
}

a.active {
	font-variation-settings: "wght" 700;
	pointer-events: none
}

header {
	align-items: center;
	display: flex;
	padding: .3em 0 .4em;
	position: relative
}

header.dark {
	background: var(--black)
}

header.dark video {
	filter: invert(88.5%)
}

.logo {
	align-items: center;
	display: flex;
	gap: .3em;
	margin-right: .2em
}

.logo img,
.logo video {
	width: 2em
}

.logo video {
	-webkit-clip-path: circle(49%);
	clip-path: circle(49%)
}

.logo.hidden {
	visibility: hidden
}

.courses {
	align-items: flex-end;
	display: flex;
	flex-grow: 1;
	gap: 1.2em;
	justify-content: center;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap
}

.courses .short {
	display: none
}

.social {
	align-items: flex-start;
	display: flex;
	gap: 1.2em;
	margin-left: 2em;
}

.social a.implicit {
	align-items: center;
	display: inline-flex;
	gap: .4em
}

.social img {
	margin-bottom: .2em;
	width: 1em
}

@media screen and (max-width:768px) {
	header {
		padding-top: 2%
	}

	.hidden {
		display: none
	}

	.courses {
		flex-grow: 1;
		gap: 5%
	}

	.courses .short {
		display: inline
	}

	.courses .full {
		display: none
	}
}

.item-container {
	aspect-ratio: 1;
	bottom: 0;
	position: absolute;
	right: 0;
	top: 0
}

.item-container .item {
	position: absolute;
	-webkit-user-select: none;
	-moz-user-select: none;
	user-select: none
}

.item-container .item img {
	height: 100%;
	-o-object-fit: contain;
	object-fit: contain;
	width: 100%
}

.item-container .item.eye {
	filter: brightness(1.2);
	left: -4%;
	top: 5%;
	width: 50%
}

.item-container .item.circle {
	aspect-ratio: 1;
	background: url(images/web/sphere.png) 50% no-repeat;
	background-color: green;
	background-size: 102%;
	border-radius: 50%;
	filter: saturate(3) hue-rotate(100deg) drop-shadow(0 10px 20px #111) brightness(1.2);
	right: -6%;
	top: 48%;
	width: 51%
}

.item-container .item.questions {
	aspect-ratio: 1;
	right: 10%;
	top: 0;
	width: 45%
}

.item-container .item.questions .cell {
	filter: drop-shadow(0 0 5px #fff);
	position: absolute
}

.item-container .item.questions .cell.rhombus {
	aspect-ratio: 1/2;
	background: url(images/web/rhombus.svg) 50% no-repeat
}

.item-container .item.film {
	left: -5%;
	top: 30%;
	width: 86%
}

.item-container .item.film img {
	filter: saturate(1) brightness(1.8);
	transform: rotate(-20deg)
}

.comparison {
	grid-gap: 1em;
	display: grid;
	gap: 1em;
	grid-template-columns: repeat(2, 1fr)
}

.comparison .container {
	height: 15em
}

.comparison .item img,
.comparison .item video {
	border-radius: var(--radius);
	height: 100%;
	-o-object-fit: cover;
	object-fit: cover;
	width: 100%
}

#program .lessons {
	display: flex;
	flex-direction: column;
	gap: 1em
}

#program .lesson {
	grid-gap: 1em;
	display: grid;
	gap: 1em;
	grid-template-columns: repeat(2, 1fr);
	height: 20em
}

#program .lesson .description {
	order: -1
}

#program .lesson .sketch {
	max-height: 20em;
	min-height: 20em;
	position: relative
}

#program .lesson .description {
	background: var(--black);
	border: 1px solid var(--darkgrey);
	border-radius: var(--radius);
	box-shadow: var(--shadow-dark);
	display: flex;
	flex-direction: column;
	padding: 1em 1em 2em;
	position: relative
}

#program .lesson .description .caption {
	margin-bottom: -1.1em;
	margin-top: auto
}

#program .lesson .description b {
	margin-bottom: 1em
}

.background {
	background-position: 50%;
	background-repeat: no-repeat;
	background-size: cover;
	border-radius: var(--radius);
	overflow: hidden;
	z-index: -1
}

.background>img,
.background {
	height: 100%;
	left: 0;
	position: absolute;
	top: 0;
	width: 100%
}

.background img {
	-o-object-fit: cover;
	object-fit: cover
}

.header {
	align-items: flex-start;
	display: flex;
	flex-direction: column;
	gap: .5em;
	min-height: 21em;
	padding: 1em 1.5%;
	position: relative;
	z-index: 1
}

.header.dark {
	color: var(--white)
}

.header.dark .info.text {
	background: rgba(0, 0, 0, .4)
}

.header.dark .name h1,
.header.dark .suptitle {
	text-shadow: 0 .1em 32px rgba(0, 0, 0, .5)
}

.header .name {
	-webkit-hyphens: none;
	hyphens: none;
	white-space: pre-line
}

.header .title {
	align-items: flex-start;
	display: flex;
	flex-direction: column;
	max-width: 100%
}

.header .name,
.header .subtitle {
	border-radius: var(--radius);
	text-shadow: .07em .07em 0 rgba(50, 50, 50, .5)
}

.info-wrapper {
	display: flex;
	flex-wrap: wrap;
	gap: .5em;
	margin-top: auto;
	padding-top: 1em
}

.info {
	align-items: center;
	-webkit-backdrop-filter: blur(3px);
	backdrop-filter: blur(3px);
	background: rgba(0, 0, 0, .15);
	border-radius: var(--infinity);
	color: #fff;
	display: inline-flex;
	font-size: 1em;
	justify-content: center;
	line-height: 1.2;
	padding: .45em .8em .35em;
	position: relative;
	text-align: center;
	transition-duration: var(--transition-time);
	transition-property: filter;
	white-space: nowrap
}

.info:hover {
	filter: brightness(1.1);
	transition: none
}

.info.primary {
	--color: var(--link-color);
	background: var(--link-color);
	background: var(--color);
	transition-duration: var(--transition-time);
	transition-property: background
}

.info.primary:hover {
	--color: var(--link-hover-color);
	transition: none
}

.info .discount {
	background: red;
	border-radius: var(--infinity);
	color: #fff;
	font-size: .9em;
	padding: .1em .3em;
	position: absolute;
	right: 0;
	top: 0;
	transform: translate(50%, -50%)
}

.info span {
	white-space: nowrap
}

@media screen and (max-width:768px) {
	.header .info-wrapper {
		gap: .3em
	}

	.header .info {
		flex-grow: 1
	}

	.header .name {
		font-size: .9em;
		-webkit-hyphens: manual;
		hyphens: manual;
		max-width: 100%
	}

	.header.dark .name h1,
	.header.dark .suptitle {
		text-shadow: 0 .1em 32px #000
	}
}

.dark .background {
	background: var(--dark);
	box-shadow: var(--shadow-dark)
}

.faq {
	display: flex;
	flex-direction: column;
	gap: 1em
}

.faq .menu {
	display: flex;
	flex-wrap: wrap;
	gap: .4em .5em
}

.faq .menu .option {
	align-items: center;
	border: .1em solid;
	border-radius: var(--infinity);
	cursor: pointer;
	display: flex;
	justify-content: center;
	padding: .3em .6em .22em;
	text-align: center;
	transition: background .2s, color .2s
}

.faq .menu .option.selected {
	background: hsla(0, 0%, 100%, .3);
	cursor: default
}

@media screen and (max-width:700px) {
	.faq {
		font-size: .8em
	}
}

.reviews {
	display: flex;
	flex-direction: column;
	gap: 2em;
	padding: 0
}

.reviews .review {
	align-items: flex-start;
	display: flex;
	gap: 1.2em
}

.reviews .review .photo {
	aspect-ratio: 1;
	border-radius: 50%;
	flex-grow: 1;
	max-width: 5em;
	min-width: 5em;
	overflow: hidden
}

.reviews .review .photo img {
	height: 100%
}

.reviews .review .content {
	display: flex;
	flex-direction: column;
	gap: .3em
}

@media screen and (max-width:768px) {
	.reviews {
		gap: 2em
	}

	.reviews .review {
		flex-direction: column;
		gap: .5em
	}
}

.wrapper {
	padding-bottom: 1em
}

.buy-block {
	gap: 1em;
	padding-bottom: 2em
}

.buy-block .grid-item {
	padding: .5em 1em 0 0
}

.buy-block .price-comparison {
	align-items: flex-start;
	display: flex;
	font-family: monospace;
	gap: 1em
}

.buy-block .price-comparison.column {
	flex-direction: column
}

.buy-block .price-comparison .price {
	border-radius: .3em;
	display: flex;
	flex-direction: column;
	gap: .3em;
	padding: .6em 0;
	position: relative
}

.buy-block .price-comparison .price:not(:first-child):before {
	left: -1.2em;
	position: absolute;
	top: 50%;
	transform: translateY(-50%)
}

.buy-block .price-comparison .price.active {
	margin-left: .15em;
	outline: .15em solid currentColor;
	padding-left: .5em;
	padding-right: 1.5em
}

.buy-block .price-comparison .price.big .value {
	font-size: 2.5em
}

.buy-block .price-comparison .price.yellow {
	color: #ff0
}

.buy-block .price-comparison .price.disabled {
	opacity: .5
}

.buy-block .price-comparison .price .old {
	display: flex;
	gap: .5em;
	margin-top: auto
}

.buy-block .price-comparison .price .old .value {
	font-size: 1em;
	font-variation-settings: "wght" 400;
	position: relative;
	width: -moz-max-content;
	width: max-content
}

.buy-block .price-comparison .price .old .value .overlay {
	height: 100%;
	left: 0;
	position: absolute;
	top: 0;
	width: 100%;
	z-index: 1
}

.buy-block .price-comparison .price .discount {
	background: var(--black);
	border: .2em solid #ff0;
	border-radius: var(--radius);
	color: #ff0;
	display: inline-block;
	font-size: .65em;
	font-variation-settings: "wght" 700;
	margin-bottom: .07em;
	padding: .07em .2em .05em;
	position: absolute;
	right: 0;
	top: 0;
	transform: translate(50%, -50%)
}

.buy-block .price-comparison .price .value {
	font-size: 1.5em;
	font-variation-settings: "wght" 700;
	line-height: 1
}

.buy-block .price-comparison .price .description {
	font-variation-settings: "wght" 200;
	width: -moz-max-content;
	width: max-content
}

.buy-block .price-comparison .arrow {
	align-self: center;
	font-size: 1.5em;
	font-weight: 700
}

.buy-block .disclaimer {
	font-size: .9em
}

.buy-block .action {
	margin-top: auto
}

.buy-block .action .controls {
	display: flex;
	flex-direction: column;
	font-variation-settings: "wght" 600;
	gap: .5em;
	margin-top: 1em
}

.buy-block .action .controls .button,
.buy-block .action .controls button {
	align-items: center;
	background: var(--link-color);
	border-radius: var(--radius);
	color: inherit;
	cursor: pointer;
	display: flex;
	font-family: monospace;
	font-size: 1.4em;
	justify-content: center;
	padding: .5em;
	transition-duration: var(--transition-time);
	transition-property: background;
	width: 100%
}

.buy-block .action .controls .button:hover,
.buy-block .action .controls button:hover {
	background: var(--link-hover-color);
	transition: none
}

.buy-block .action .controls .button:disabled,
.buy-block .action .controls button:disabled {
	background: #888;
	opacity: .7;
	pointer-events: none
}

@media screen and (max-width:768px) {
	.buy-block .form {
		padding-top: 0
	}
}
