@use 'theme';

@use 'blocks/section';
@use 'blocks/fir.scss';
@use 'blocks/break-dom';
@use 'blocks/mouse-move';
@use 'blocks/reload';
@use 'blocks/xray';
@use 'blocks/parallax';
@use 'blocks/magnetic-lines'