@use '../mixins';

.break-dom {
    &__container {
        @include mixins.add-border;
        overflow: hidden;
        max-height: 500px;
    }

    &__rectangle {
        position: relative;
        width: 50px;
        height: 30px;
        background-color: #888;
        transform-origin: center center;
        display: inline-block;
        user-select: none;
        overflow: hidden;
        transition: background-color 1s ease-in-out, transform 1s ease-in-out;
        will-change: background-color, transform;
    }
}
// trigger github workfl