@use '../mixins';

.break-dom {
    &__container {
        @include mixins.add-border;
        @include mixins.sketch-container;
        cursor: pointer;
        transform: scaleY(-1);
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
    }

    &__rectangle {
        position: relative;
        width: 50px;
        height: 30px;
        background-color: #888;
        border: 1px solid white;
        transform-origin: center center;
        display: inline-block;
        user-select: none;
        overflow: hidden;
        transition: background-color 1s ease-in-out, transform 1s ease-in-out;
        will-change: background-color, transform;
    }
}