@use '../mixins';

.fir {
    &__container {
        display: block;
        text-align: center;
        white-space-collapse: preserve-breaks;
        cursor: pointer;
        @include mixins.add-border;
    }

    &__reload {
        cursor: pointer;
        font-size: smaller;
    }
}