@use '../mixins';

.fir {
    &__container {
        display: block;
        text-align: center;
        white-space-collapse: preserve-breaks;
        cursor: pointer;
        @include mixins.sketch-container;
        @include mixins.add-border;
    }
}