@use '../mixins';

.parallax {
    &__background {
        width: 100%;
        max-width: 100%;
    }

    &__content {
        position: absolute;
        top: 0;
        left: 0;
    }

    &__container {
        @include mixins.sketch-container;
        @include mixins.add-border;
        overflow: hidden;
        position: relative;

        & svg {
            height: 500px;
            width: 120%;
        }
    }

    #SHIP {
        position: absolute;
    }

    .cloud-animate {
        animation: cloud-drift ease-in-out infinite;
    }

    .sun-breathe {
        animation: sun-breathe 4s ease-in-out infinite;
    }

}

@keyframes cloud-drift {
    0%, 100% {
        transform: translateX(-20px);
    }
    50% {
        transform: translateX(20px);
    }
}

@keyframes sun-breathe {
    0%, 100% {
        transform: scale(1);
        opacity: .8;
    }
    50% {
        opacity: 1;
        transform: scale(1.08);
    }
}