@use '../mixins';

.xray {
    &__container {
        position: relative;
        @include mixins.sketch-container;
        @include mixins.add-border;
        cursor: none;
    }

    &__background-img {
        position: absolute;
        top: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        left: 0;
    }

    &__background-ufo {
        position: absolute;
        top: 170px;
        left: 150px;
    }

    &__overlay {
        width: 100%;
        height: 100%;
        background: #000;
        mix-blend-mode: multiply;
    }

    &__pointer {
        transform: translate(-50%, -50%);
        position: absolute;
        pointer-events: none;
        width: 200px;
        height: 200px;
        background-color: white;
        -webkit-box-shadow: 0px 0px 41px 22px white;
        -moz-box-shadow: 0px 0px 41px 22px white;
        box-shadow: 0px 0px 41px 22px white;
        border-radius: 50%;
        mix-blend-mode: difference;
    }
}