body {
    background: #1b1b1b;
    display: flex;
    min-height: 100dvh;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.letter {
    font-size: 164px;
    position: absolute;
    color: orangered;
    font-family: monospace;

    line-height: 1;
    min-height: 64px;;
}

.stub {
    height: 700px;
}

.wrapper {
    height: 500px;
    overflow: scroll;
    border: 1px solid orangered;
    padding: 20px;
}

.description {
    height: 100%;
}

.chars {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    width: 500px;
    margin: 0 auto;
    justify-content: center;
}

.char {
    width: 80px;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid cyan;
    color: cyan;
    font-family: monospace;
    font-size: 28px;
    transition: all .3s ease;
}

.char.highlight {
    color: white;
    background-color: cyan;
}
