body {
    background: #1b1b1b;
}

.stub {
    height: 700px;
}

.chars {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    width: 500px;
    margin: 0 auto;
    justify-content: center;
}

.char {
    width: 80px;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid cyan;
    color: cyan;
    font-family: monospace;
    font-size: 28px;
    transition: all .3s ease;
}

.char.highlight {
    color: white;
    background-color: cyan;
}