body {
  background: #1b1b1b;
  display: flex;
  min-height: 100dvh;
  overflow: hidden;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-family: sans-serif;
  color: white;
  font-size: 16px;
}

.big-letter {
  font-size: 400px;
  position: absolute;
  color: orangered;
  font-family: monospace;
  opacity: 0.8;
  line-height: 1;
  min-height: 64px;
  pointer-events: none;
}


.wrapper {
  height: 500px;
  overflow: auto;
  border: 1px solid orangered;
}

.description {
  height: 100%;
  font-size: 28px;
  text-align: center;
  display: flex;
  flex-direction: column;
  margin: 0;
  align-items: center;
  justify-content: center;
}

.chars {
  display: flex;
  flex-wrap: wrap;
  max-width: 500px;
  margin: 0 auto;
  justify-content: center;
}

.char {
  width: 60px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: cyan;
  font-family: monospace;
  font-size: 28px;
  transition: all 270ms ease-in-out;
  border: 1px solid rgba(0,0,0,0.04);
}

.char.highlight {
  color: white;
  transition: all 320ms ease-in-out;
  background-color: rgba(0, 255, 255, 0.808);
}
