body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-color: #f0f0f0;
}
.container {
  width: 500px;
  display: flex;
  gap: 50px;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
  position: relative;
}

.line {
    width: 1px;
    height: 33px;
    background-color: red;
    transform-origin: center center;
}
