name: Deploy Portfolio

on:
  push:
    branches:
      - course-portfolio # Авто-деплой при пуше в ветку с сайтом
  workflow_dispatch:     # Кнопка ручного запуска

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4
        with:
          # ВАЖНО: берем код именно из ветки с сайтом
          ref: course-portfolio 

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: 20
          cache: 'npm'

      - name: Install dependencies
        run: npm ci

      - name: Build project
        run: npm run build

      - name: Deploy to GitHub Pages
        uses: peaceiris/actions-gh-pages@v4
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./dist # Папка, которую создает Vite
          # Опционально: удалять ли старые файлы в ветке gh-pages перед деплоем
          force_orphan: true 
